@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* Crear titulo  */
.titulo{
  color: black;
  background-color: rgba(104, 94, 94, 0.329);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}

/* Crear la nav */
.link {
  background-color: black;
  justify-content: center;
  display: flex;
  padding: 10px;
  margin-top: -33px;


}
.link a{
  color: gray;
  font-family:  'Roboto', sans-serif;
  font-size: 20px;
 margin: 15px;
 text-decoration: none;
}

.link :hover{
  
  color: white;
}

.link a.active{
  color:white;
}

/* Crear la barra */

.barra{
  background-color: gray;
  color: black;
  overflow: scroll;
  height:400px;
  width: 400px;
  margin-top: 10px;
  float: right;
}

.container1 a{
color: black;
text-decoration: none;
}

.container1{
  background-color: gray;
  max-width: 930px; 
}

.titulo-container1:hover{
color: white;
}

.container2 a{
  color: black;
  text-decoration: none;
  }
  
  .container2{
    background-color: gray;
    max-width: 930px; 
  }
  
  .titulo-container2:hover{
  color: white;
  }

 .footer1{
  margin-top:300px;
  background-color:gray;
  color: black;
  text-align: center;

 }

 .footer1 a{
 text-decoration: none;
  color: #000000;
  margin: 5px;
 }

 .fa-facebook:hover{
  color: #1877f2;
 }

 .fa-instagram:hover{
  color: #e1306c;

 }

 .fa-twitter:hover{
  color: #1da1f2;
 }

.fa-tiktok:hover{
  color:pink;
}

.fa-youtube:hover{
  color: red;
}
 
